# Pandas

Pandas is an open source library providing high performance, easy to use data structure and data analysis tools for the Python programming.

* What is Data Frames ?
* What is Data Series ?
* Different Operations in Pandas ?

In [11]:
import numpy as np
import pandas as pd

In [19]:
# dataframe
df=pd.DataFrame(np.arange(0,30).reshape(5,6),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4','Column5','Column6'])

In [21]:
df

      Column1  Column2  Column3  Column4  Column5  Column6
Row1        0        1        2        3        4        5
Row2        6        7        8        9       10       11
Row3       12       13       14       15       16       17
Row4       18       19       20       21       22       23
Row5       24       25       26       27       28       29

In [51]:
df.head()

      Column1  Column2  Column3  Column4  Column5  Column6
Row1        0        1        2        3        4        5
Row2        6        7        8        9       10       11
Row3       12       13       14       15       16       17
Row4       18       19       20       21       22       23
Row5       24       25       26       27       28       29

In [55]:
df[['Column1','Column2']]

      Column1  Column2
Row1        0        1
Row2        6        7
Row3       12       13
Row4       18       19
Row5       24       25

In [23]:
df.to_csv('Data.csv')

In [25]:
# Access elements

df.loc['Row2']

Column1     6
Column2     7
Column3     8
Column4     9
Column5    10
Column6    11
Name: Row2, dtype: int32

In [27]:
type(df.loc['Row2'])

pandas.core.series.Series

In [33]:
df.iloc[1:3,2:5]

      Column3  Column4  Column5
Row2        8        9       10
Row3       14       15       16

In [31]:
df.iloc[1:,:4]

      Column1  Column2  Column3  Column4
Row2        6        7        8        9
Row3       12       13       14       15
Row4       18       19       20       21
Row5       24       25       26       27

In [35]:
type(df.iloc[1:,:4])

pandas.core.frame.DataFrame

In [37]:
df.iloc[:,:1]

      Column1
Row1        0
Row2        6
Row3       12
Row4       18
Row5       24

In [39]:
# dataframe into arrays
df.iloc[:,2:].values

array([[ 2,  3,  4,  5],
       [ 8,  9, 10, 11],
       [14, 15, 16, 17],
       [20, 21, 22, 23],
       [26, 27, 28, 29]])

In [41]:
df.iloc[:,2:].values.shape

(5, 4)

In [43]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
Column5    0
Column6    0
dtype: int64

In [47]:
df['Column2'].value_counts()

Column2
1     1
7     1
13    1
19    1
25    1
Name: count, dtype: int64

In [49]:
df['Column3'].unique()

array([ 2,  8, 14, 20, 26])